<div class="panel panel-default">
	<div class="panel-body">
		<!-- Image 


		<br>-->

		<!-- Main Info -->
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-3 text-center">
						<%= image_tag @profile.profilepic, class: "img-circle avatar-full" %><br><br>
						<h4><%= @profile.profile_name %></h4>
						<%= @profile.location %>
						
					</div>
					<div class="col-md-9">
						
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<!-- Reservation form -->
				<% if user_signed_in? %>
					<% if current_user != @user %>
				        <div class="row-space-2">
				          <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
				        </div>
				    <% end %>	
					<% if current_user == @user %>
						<%= link_to "Profile Home", profiles_path, class: "btn btn-primary" %>
						<%= link_to "Update Profile", edit_profile_path(@profile), class: "btn btn-primary" %>
					<% end %>
				<% else %>
						<%= link_to "Register to Send Message", new_user_registration_path, class: "btn btn-primary wide" %>
			    <% end %>
			</div>
		</div>
		<br>
		<div class="row">
				<div class="col-md-3 text-center">
						<div class="row text-center">
							<div class="col-sm-4">
								<i class="fa fa-music fa-2x"></i>
								<br>
								<%= @profile.category %>
							</div>
							<div class="col-sm-4">
								<i class="fa fa-users fa-2x"></i>
								<br>
								<%= pluralize @profile.member, "Member" %>
							</div>
						</div>

				</div>
			</div>

		<!-- About -->
		<div class="row">
			<div class="col-md-6">
				<h2>About Performer</h2>
				<p><%= @profile.bio %></p>
			</div>
			<div class="col-md-2">
						<br>
						<h4>Status Tambahan: </h4>
							<ul class="amenities">
								<li class="<%= 'text-line-through' if !@profile.is_english %>"> English Language</li>
								<li class="<%= 'text-line-through' if !@profile.is_indonesia %>">Bahasa Indonesia</li>
								<li class="<%= 'text-line-through' if !@profile.is_travel %>">Willing to travel</li>
							</ul>
					</div>
					<div class="col-md-2">
						<br>
						<h4>Available for: </h4>
							<ul class="amenities">
								<li class="<%= 'text-line-through' if !@profile.is_cafe %>">Cafe Event</li>
								<li class="<%= 'text-line-through' if !@profile.is_corporate %>">Corporate Event</li>
								<li class="<%= 'text-line-through' if !@profile.is_wedding %>">Wedding Event</li>
								<li class="<%= 'text-line-through' if !@profile.is_birthday %>">Birthday Event</li>
								<li class="<%= 'text-line-through' if !@profile.is_school %>">School Event</li>
								<li class="<%= 'text-line-through' if !@profile.is_private %>">Private Event</li>
							</ul>
					</div>
		</div>
		<hr>
		<!-- Carousel -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <% if @photos %>
					  <ol class="carousel-indicators">
					    <% @photos.each do |photo| %>
					    	<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
				    	<% end %>
					  </ol>
				  <% end %>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <% if @photos %>
						<% @photos.each do |photo| %>
						    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
						      <%= image_tag photo.image.url %>
						    </div>
					    <% end %>
					<% end %>
				  </div>

				  <!-- Left and right controls -->
				  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
		</div>
		
		<br>
		

			<%= render "proposals/form", :locals => {:proposal => new_proposal} %>


	</div>
</div>
