<div class="row">
  <br>
  <div class="col-md-3 text-center">
    <ul class="sidebar-list">
      <!--<li class="sidebar-item"><%= link_to "Edit Account", edit_user_registration_path, class: "sidebar-link active" %></li>-->
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <li class="sidebar-item"><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
      <% end -%>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <li class="sidebar-item"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></li>
      <% end -%>

      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <li class="sidebar-item"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></li>
      <% end -%>
    </ul>
    <br>
    <%= link_to "View My Account", user_path(current_user), class: "btn btn-default wide" %>
  </div>

  <div class="col-md-7 col-md-offset-1 text-center">
    <!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
    <div class="panel panel-default">
      <div class="panel-heading">Your Account</div>  
      <div class="panel-body">
        <div class="container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "shared/devisemes" %>
          
            <div class="form-group">
              <%= f.text_field :fullname, :placeholder => "Full Name", :class => "form-control", autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, :placeholder => "Phone Number", :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_area :description, :placeholder => "Description", :class => "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", :placeholder => "New Password (leave blank if you don't want to change it)", :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password", :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :current_password, autocomplete: "off", :placeholder => "Type your current password to confirm your changes", :class => "form-control" %>
            </div> 

            <div class="actions">
              <%= f.submit "Save", :class => "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


