<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Your Conversations</div>
			<div class="panel-body">
				<div class="container">
					<% @conversations.each do |conversation| %>
						<% other_user = conversation.find_other_user(current_user) %>
						<%= link_to conversation_messages_path(conversation) do %>
							<div class="row conversation">
								<div class="col-md-2">
									<%= image_tag avatar_url(other_user), class: "img-circle avatar-medium" %>
								</div>
								<div class="col-md-2">
									<%= other_user.fullname %><br>
									<%= conversation.messages.last.message_time %>
								</div>
								<div class="col-md-8">
									<%= conversation.messages.last.content %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>

		<h3>All Users</h3>
		<ul>
			<% @users.each do |user| %>
				<% if user != current_user %>
					<li>
						<%= user.fullname %>
						<%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post" %>
					</li>
				<% end %>
			<% end %>
		</ul>

	</div>
</div>