<%= form_for [@profile, @profile.bookings.new] do |f| %>
	
	<div class="row">
		<div class="col-md-12 performance_fee-tag">
			<span class="text-centered">Performance Rates:</span>
			<span><%= @profile.performance_fee %></span>
		</div>
	</div>
	<br>
	<%= f.hidden_field :profile_id, value: @profile.id %>
	<%= f.hidden_field :performance_fee, value: @profile.performance_fee %>
	<%= f.hidden_field :total, id: "booking-total" %>


	<%= f.submit "Book Now", id: "btn-book", class: "btn btn-primary wide", disabled: true %>

<% end %>

