<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Profile", profiles_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Bookings", your_bookings_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Your Past Events", your_pastevents_path, class: "sidebar-link active" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Your Past Events
			</div>
			<div class="panel-body">
				<% @pastevents.each do |trip| %>
					<div class="row">
						<div class="col-md-2">
							<%= trip.start_date.strftime("%v") %>
						</div>
						<div class="col-md-6">
							<%= link_to room_path(trip.profile) do %>
								<%= image_tag trip.profile.photos[0].image.url(:thumb) if trip.profile.photos.length > 0 %>
							<% end %>
						</div>
						<div class="col-md-2">
							<%= link_to user_path(trip.profile.user) do %>
								<%= image_tag avatar_url(trip.profile.user), class: "img-circle avatar-medium" %>
							<% end %>
						</div>
						<div class="col-md-2 right">
							<h4>$<%= trip.total %></h4>
						</div>
					</div>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>