<section id="howitworks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cara Kerja</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                            <%= image_tag("about/how1.jpg", :alt => "timeline-1", class:'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body"><br>
                                    <p class="lead">Pilih performer untuk party kamu</p>
                                </div>
                                <!--<div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>-->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                            <%= image_tag("about/how2.jpg", :alt => "timeline-2", class:'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body"><br>
                                    <p class="lead">Kirim request kamu, dan tunggu kuotasinya</p>
                                </div>
                                <!--<div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>-->
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                            <%= image_tag("about/how3.png", :alt => "timeline-3", class:'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body"><br>
                                    <p class="lead">Booking pilihan kamu dan konfirmasi dengan permbayaran</p>
                                </div>
                                <!--<div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>-->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                            <%= image_tag("about/how4.jpg", :alt => "timeline-4", class:'img-circle img-responsive') %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body"><br>
                                    <p class="lead">Siap – siap karena party kamu pasti jadi lebih seru dan special</p>
                                </div>
                                <!--<div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>-->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                            <%= image_tag("about/how5.jpg", :alt => "timeline-4", class:'img-circle img-responsive') %>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>













<!--<section id="howitworks" class="services bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>How it works</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x icon-white"></i>
                            <i class="fa fa-search fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Find Artist</strong>
                            </h4>
                            <p class=lead>Search artist that you need for your event through our detailed database with extensive filters.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x icon-white"></i>
                            <i class="fa fa-exchange fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Connect with Artist</strong>
                            </h4>
                            <p class=lead>Send proposal for your selected artist and get the quotation.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x icon-white"></i>
                            <i class="fa fa-check-square-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Secure the Booking</strong>
                            </h4>
                            <p class=lead>Once booked, the artist is booked exclusively for your event. We also have proper policies in place that protect you against artist cancellations.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x icon-white"></i>
                            <i class="fa fa-music fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Start your gig!</strong>
                            </h4>
                            <p class=lead>We hope you invite us!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
