<div id="filterrific_results" class="tags">  
  <div class="container">
    
    <div class="cards row">
      <br>    

      <% @profiles.each do |t| %>
      <div class="card col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-1">
      <%= image_tag t.profilepic, class: "img-circle avatar-full" %>
      <br>
      <h4 class="text-center"><%= t.profile_name%></h4>
      <p class="text-center"><%= t.category  %>, <%= t.location  %></p>
      <p class="text-center"><%= link_to "Lihat Profil" , profile_path(t) %></p>
      </div>
      <% end %>

    </div>
  </div>
</div>

    <%= will_paginate @profiles%>