<div id="wrapper">
<br>
  <div id="article">
    <div class="row">

      <div class="col-md-12">
        <%= form_for_filterrific @filterrific do |f| %>
	      <div class="row">
		        <div class="col-md-3 select">
				       <div class="form-group">
                      <label> Category </label>
				              <%= f.select(
                        :category,
                        @filterrific.select_options[:category],
                        { include_blank: '- Any -' }
                      ) %>
				        </div>
				    </div>
            <div class="col-md-4  ">
               <div class="form-group">
                      <label> Location </label>
                      <%= f.text_field(
                        :search_query,
                        class: 'filterrific-periodically-observed'
                      ) %>
                </div>
            </div>
          <% end %>
            <div class="col-md-3">
              <br>
              <br>
              <div class="form-group">
              <%= link_to(
                'Reset filters',
                reset_filterrific_url,
              ) %>
              </div>
            </div>

         </div>
      </div>
    </div>
</div>
<hr>
<%= render(
  partial: 'pages/home',
  locals: { profiles: @profiles }
) %>

</div>