<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We have new quotation request =)</h1>
    <p>
    New Quotation Detail: </p>
    <p>Name: <%= @msg.name %></p>
    <p>E-mail: <%= @msg.email %></p>
    <p>No.Tel: <%= @msg.telnum %></p>
    <br>
    <p>Category: <%= @msg.category %></p>
    <p>Event: <%= @msg.event %></p>
    <p>Detail Event: <%= @msg.eventmore %></p>
    <br>
    <p>
    Let's Do This!!
    </p>
  </body>
</html>