<!DOCTYPE html>
<html>
	<head>
	  <title>Gikku  - The Next Gig Thing!</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0-rc.1/themes/smoothness/jquery-ui.css">
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class:"alert alert-info") %>
    <% end %>
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
       <%= render "shared/navigation" %>
    <% end %>
    <%= render "shared/message" %>
	
			<%= yield %>	

	</body>
</html>
